@tailwind base;
@tailwind components;
@tailwind utilities;

.main-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
}
